.font-14{
  font-size: 14px;
}

a{
  text-decoration: none !important;
  color: white !important;
}

a:hover{
  color: white !important;
  text-decoration: none !important;
}

.hover:hover{
  transition: all 0.3s;
  opacity: 0.6;
}